﻿@model Warehouse.Models.Item

<form method="post" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Termék hozzáadása</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Number"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Number" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="InStock"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="InStock" class="form-control" />
                        <span asp-validation-for="InStock" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Booked"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Booked" class="form-control" />
                        <span asp-validation-for="Booked" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Deleted"></label>
                    </div>
                    <div class="col-8 ml-3">
                        <input type="checkbox" asp-for="Deleted" class="form-check-input" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-9 offset-2 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Vissza</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Mentés" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

