﻿@model IEnumerable<Warehouse.Models.Item>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Termékek listája</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Item" asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Új termék hozzáadása">Új termék</a>
        </div>
    </div>

    <div class="d-flex form-group w-25 justify-content-center align-items-center">
        <input type="text" class="form-control"  placeholder="Keresés...">
    </div>


    @if (Model.Count() > 0)
    {
<div class="container" style="margin-top:35px">
    <table id="mytable" class="table table-bordered table-hover" style="width:100%">
        <thead class="thead">
            <tr class="justify-content-center align-items-center">
                <th>
                    Cikkszám
                </th>
                <th>
                    Megnevezés
                </th>
                <th>
                    Egységár
                </th>
                <th>
                    Szabad készleten
                </th>
                <th>
                    Foglalt készleten
                </th>
                <th>
                    Műveletek
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (!item.Deleted)
                {
                    <tr>
                        <td width="15%">@item.Number</td>
                        <td width="55%">@item.Name</td>
                        <td width="10%">@item.Price</td>
                        <td width="1%">@item.InStock</td>
                        <td width="1%">@item.Booked</td>
                        <td width="18%">
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-primary mx-1" asp-controller="Item" asp-action="Update" asp-route-Id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Módosítás"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger mx-1" asp-controller="Item" asp-action="Delete" asp-route-Id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Törlés"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="flex-row">
        <h5>Sorok száma egy oldalon</h5>
        <div class="form-group">
            <select name="state" id="maxRows" class="form-control" style="width:150px;">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="pagination-container">
            <nav>
                <ul class="pagination"></ul>
            </nav>
        </div>
    </div>

    <nav aria-label="Page navigation example" class="d-flex flex-row-reverse">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
    }
    else
    {
        <p>Nincs megjeleníthető termék.</p>
    }
</div>