﻿@model Warehouse.Models.User
@{ Layout = null;}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

<h2 class="mt-2 ml-2">Hegedűs kft.</h2>
<hr />
<div class="mt-20 justify-content-center">
    <div class="d-flex justify-content-center" style="margin-top: 10rem;">
        <h4>Bejelentkezés</h4>
    </div>
    <div class="d-flex justify-content-center" >
        <div class="col-md-4">
            <form asp-action="ProcessLogin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Belépés" class="btn btn-primary" />                    
                </div>
                <div>
                    <p>Elfelejtettem a jelszavamat.</p>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
