﻿@model Warehouse.Models.Delivery

<form method="post" asp-action="Delte">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Szállítás alatt lévő termék adatainak módosítása</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="ItemId"></label>
                    </div>
                    <div class="dropdown ml-2 mt-0">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Azonosító
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">1</a>
                            <a class="dropdown-item" href="#">2</a>
                            <a class="dropdown-item" href="#">3</a>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Quantity"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Quantity" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="FromAddressId"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="FromAddressId" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="ToAddressId"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="ToAddressId" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Start"></label>
                    </div>
                    <div class="col-8">
                        <input readonly type="datetime-local" asp-for="Start" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="HasArrived"></label>
                    </div>
                    <div class="col-8 ml-3">
                        <input readonly type="checkbox" asp-for="HasArrived" class="form-check-input" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Comment"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Comment" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-2 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Vissza</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Mentés" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

