﻿@model IEnumerable<Warehouse.Models.Delivery>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Szállítás alatt lévő termékek listája</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Delivery" asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Új szállítás hozzáadása">Új szállítás</a>
        </div>
    </div>

    <div class="d-flex form-group w-25 justify-content-center align-items-center">
        <input type="text" class="form-control" placeholder="Keresés...">
    </div>


    @if (Model.Count() > 0)
    {
        <div class="container" style="margin-top:35px">
            <table id="mytable" class="table table-bordered table-hover" style="width:100%">
                <thead class="thead">
                    <tr class="justify-content-center align-items-center">
                        <th>
                            Azonosító
                        </th>
                        <th>
                            Mennyiség
                        </th>
                        <th>
                            Kiindulás
                        </th>
                        <th>
                            Cél
                        </th>
                        <th>
                            Szállítás kezdete
                        </th>
                        <th>
                            Megjegyzés
                        </th>
                        <th>
                            Műveletek
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {                       
                    <tr>
                        <td width="15%">@item.ItemId</td>
                        <td width="15%">@item.Quantity</td>
                        <td width="10%">@item.FromAddressId</td>
                        <td width="10%">@item.ToAddressId</td>
                        <td width="30%">@item.Start</td>
                        <td width="30%">@item.Comment</td>
                        <td width="16%">
                            <div>
                                <a class="btn btn-success ml-3" asp-controller="Delivery" asp-action="Delete" asp-route-Id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Megérkezett"><i class="fas fa-check"></i></a>
                            </div>
                        </td>
                    </tr>                      
                    }
                </tbody>
            </table>
            <div class="flex-row">
                <h5>Sorok száma egy oldalon</h5>
                <div class="form-group">
                    <select name="state" id="maxRows" class="form-control" style="width:150px;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="pagination-container">
                    <nav>
                        <ul class="pagination"></ul>
                    </nav>
                </div>
            </div>

            <nav aria-label="Page navigation example" class="d-flex flex-row-reverse">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
    else
    {
        <p>Nincs megjeleníthető termék.</p>
    }
</div>