﻿@model IEnumerable<Warehouse.Models.User>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Felhasználók</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="User" asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Új felhasználó létrehozása">Új felhasználó</a>
        </div>
    </div>

    <div class="d-flex form-group w-25 justify-content-center align-items-center">
        <input type="text" class="form-control" placeholder="Keresés...">
    </div>


    @if (Model.Count() > 0)
    {
        <div class="container" style="margin-top:35px">
            <table id="mytable" class="table table-bordered table-hover" style="width:100%">
                <thead class="thead">
                    <tr class="justify-content-center align-items-center">
                        <th>
                            Név
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Szerepkör
                        </th>
                        <th>
                            Raktár azonosító
                        </th>
                        <th>
                            Beléphet
                        </th>
                        <th>
                            Műveletek
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        @if (user.CanLogin)
                        {
                    <tr>
                        <td width="35%">@user.Name</td>
                        <td width="35%">@user.Email</td>
                        <td width="20%">@user.JobTitle</td>
                        <td width="2%">@user.WarehouseId</td>
                        <td width="2%">@user.CanLogin</td>
                        <td width="16%">
                            <div>
                                <a class="btn btn-primary ml-3" asp-controller="User" asp-action="Update" asp-route-Id="@user.Id" data-toggle="tooltip" data-placement="bottom" title="Módosítás"><i class="fas fa-edit"></i></a>                                
                            </div>
                        </td>
                    </tr>
                        }

                    }
                </tbody>
            </table>
            <div class="flex-row">
                <h5>Sorok száma egy oldalon</h5>
                <div class="form-group">
                    <select name="state" id="maxRows" class="form-control" style="width:150px;">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="pagination-container">
                    <nav>
                        <ul class="pagination"></ul>
                    </nav>
                </div>
            </div>

            <nav aria-label="Page navigation example" class="d-flex flex-row-reverse">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
    else
    {
        <p>Nincsenek felhasználók.</p>
    }
</div>