﻿@model Warehouse.Models.User

<div>
    <h4>Saját adatok szerkesztése</h4>
    <hr />
    <div>
        <div class="row">
            Név:
        </div>
        <div class="w-50">
            @Html.DisplayFor(model => model.Name)
        </div>
        <hr />

        <div class="row">
            Munkakör:
        </div>
        <div class="w-50">
            @Html.DisplayFor(model => model.JobTitle)
        </div>

        <hr />
        <div class="row">
            Email cím:
        </div>
        <div class="w-50">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="w-50 mt-2">
            <a class="btn btn-primary" asp-action="Index">Email cím megváltoztatása</a>
        </div>

        <hr />
        <div class="row">
            Jelszó:
        </div>
        <div class="w-50">
            ************
        </div>
        <div class="w-50 mt-2">
            <a class="btn btn-primary" asp-action="Index">Jelszó megváltoztatása</a>
        </div>
    </div>



    <!--<dl class="row">  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">-->
            @*@Html.DisplayFor(model => model.Password)*@
            <!--*******************
        </dd>
    </dl>-->
</div>
<hr />
<div class="row">    
    <a asp-action="Index">Vissza</a>
</div>
