﻿@model Warehouse.Models.User

<form method="post" asp-action="Update">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Felhasználói adatok módosítása</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input readonly asp-for="Email" class="form-control" />
                    </div>
                </div>

                @*<div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Password" class="form-control" />
                    </div>
                </div>*@

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="JobTitle"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="JobTitle" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="WarehouseId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="WarehouseId" class="form-control" />
                        <span asp-validation-for="WarehouseId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 text-right">
                        <label asp-for="CanLogin"></label>
                    </div>
                    <div class="col-8 ml-3">
                        <input type="checkbox" asp-for="CanLogin" class="form-check-input" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-9 offset-2 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Vissza</a>
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Mentés" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

